html {
    /* scroll-behavior: smooth; */
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}
h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(245, 245, 245);
}

#hero {
    background: linear-gradient(to right,rgba(245,245,245,.5),rgba(245,245,245,.5)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
}

nav {
    padding: 35px 0;
    text-align: center;
}
nav a {
    display: inline-block;
    margin: 0 8px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #077df3;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
nav a:hover {
    color: #076bcf;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    margin: 0 30px;
}
header img {
    width: 200px;
    border-radius: 50%;
}
header h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
header h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}


#about {
    padding: 100px 0;
    background-color: #077df3;
    color: white;
}
#about .container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
#about .container h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}
#about .container h2::after {
    content: '';
    position: absolute;
    top: calc(100% + 1rem);
    height: 5px;
    width: 3rem;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

#about .container p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 30px;
}


#skills {
    padding: 100px 0;
    background-color: rgb(232, 232, 232);
}
#skills .container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
#skills .container .box {
    margin: 0 30px;
    width: 45%;
}
#skills .container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    background-color: #077df3;
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 0 40px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);

    transition: .3s;
    font-size: 18px;
    font-weight: 600;
}
.btn:hover {
    transform: translateY(-5px);
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
}
.skills-list div {
    padding: 15px;
    text-align: center;
    background-color: rgba(153,153,153,.2);
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #666;
}
.skills-list i {
    margin-right: 10px;
    font-size: 15px;
    color: #077df3;
}


#projects {
    padding: 100px 0;
}
#projects .projects-header {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#projects .projects-header h2 {
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
}
#projects .projects-header h2::after {
    content: '';
    position: absolute;
    top: calc(100% + 1rem);
    height: 5px;
    width: 3rem;
    background: #000000;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
#projects .projects-header p {
    font-size: 20px;
    line-height: 1.5;
}

/****************************/
/* Projects List Card Design */
/****************************/

.projects-list {
    max-width: 1200px;
    margin: 0 auto;

    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
}

.card {
    width: 350px;
    /* margin: 15px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* break-inside: avoid-column; */
    margin: 0 auto;

    margin-bottom: 15px;
}

.card .image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.card .text-content {
    padding: 15px;
    margin-bottom: 10px;
}
.card .text-content h3{
    font-size: 20px;
}
.card .text-content p{
    line-height: 1.5;
    margin-bottom: 20px;
}
.tech-used {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.tech-used div {
    padding: 10px;
    text-align: center;
    background-color: rgba(153,153,153,.2);
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 10px;
    color: #666;
}
.tech-used i {
    font-size: 10px;
    margin-right: 15px;
    color: black;
}

.card .text-content h3 {
    margin-top: 0;
}



.card a {
    background-color: #077df3;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;

    margin-right: 10px;
    transition: .3s;
}
.card a:hover {
    background-color: #0667c7;
}

.not-done {
    height: 200px;
    background-color: #076bcf;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/*****************************************/
/******************FOOTER*****************/
/*****************************************/

footer {
    background-color: #077df3;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}
footer p {
    margin: 0 20px;
}
.footer-social {
    margin: 20px 0;
}
.footer-social a {
    font-size: 30px;
    margin: 10px;
    color: #fff;

    transition: 0.3s;
}
.footer-social a:hover{
    color: rgb(227, 227, 227);
}


/*****************************************/
/******************MODAL*****************/
/*****************************************/
.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Style your modal content as needed */
  .modal {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    /* Animation */
    animation: fadeIn 0.3s ease-out;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        top: 40%;
        left: 50%;
    }
    to {
        opacity: 1;
        top: 50%;
        left: 50%;
    }
  }

.modal h2 {
    font-size: 30px;
}
.modal h3 {
    font-size: 25;
    font-weight: 500;
}
.modal .socials {
    margin: 20px 0;
}
.resume {
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    color: #000000;
}
.modal i {
    font-size: 25px;
    margin-right: 15px;
    text-decoration: none;
    color: #000000;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed; /* This can help prevent scrolling on iOS */
}





@media (max-width: 1200px) {
    
    .projects-list {
        max-width: 800px;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 750px) {
    .projects-list {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 700px) {

    #skills .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #skills .container .box {
        margin: 20px 50px;
        width: 85%;
    }
    .skills-list {
        justify-content: center;
    }
}